name: New IDaaS Release Check
on:
  schedule:
    - cron: 0 21 * * *
  workflow_dispatch: {}
jobs:
  update:
    name: IDaaS Auth API Update Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76 # v2
      - run: bun install --frozen-lockfile
      - run: bun run api:download
      - uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7
        with:
          title: New IDaaS API version
          assignees: maccuaa
